#Node
logs
*.log
npm-debug.log*
# Dependency directories
node_modules
jspm_packages
# Optional npm cache directory
.npm

#build
dist
test/render/

*.git
*.iml

#test
test/index.html
test/render_files.js

#webstorm
.idea

#sass
.sass-cache/
*.css.map
